<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include('navbar.ejs')%>
    <h1>this is the about file....</h1>
    <h2> </h2>
    <a href = "/">this is the link to index file</a>
    <a href = "/">Home</a>

    
</body>
</html>