<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body{
            height: 100vh;
            background-color: black;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -5vh;
        }
        h1{
            font-size: xx-large;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 700;
            color:  white;
        } 
        .contatiner{
            border: 1px solid white;
            /* border-radius: 4px; */
            width: max-content;
            padding: 10px;
            background-color: rgba(245, 245, 245, 0.164);
        }
        a{
            color: white;
            text-transform: capitalize;
            text-decoration: none ;
        }
        a:hover{
            color: red;
        }

    </style>
</head>
<body>
    <div>
        <h1>Welcome To Blog Post!</h1>
        <center>
            <div class="contatiner" >
                <a href="http://localhost:3000/posts">Surprise me...</a>
            </div>
        </center>
    </div>
</body>
</html>